@font-face {
  font-family: newfont;
  src: url(../assets/fonts/OldNewspaperTypes.ttf);
}

.container {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    text-align: center; 
  }
  
  ion-content {
    font-family: newfont;
    --background: #f0f0f0;
  }
  
  h1 {
    font-size: 300%;
    margin-bottom: 20px;
    color: #eeeeee;
  }
  
  ion-item {
    font-family: newfont;
    --inner-padding-end: 10px;
    --inner-padding-start: 10px;
    --background: #f7f3f3;
    margin-bottom: 10px;
    width: 50%;
  }
  
  ion-item ion-input {
    border-bottom: 2px solid #d80000;
    padding: 5px 10px;
    font-size: 1rem;
  }
  
  ion-item ion-select {
    border-bottom: 2px solid #d80000;
    padding: 5px 10px;
    font-size: 1rem;
  }
  
  .nav {
    display: flex;
    justify-content: center;
  }
  
  .button {
    font-family: newfont;
    --ion-color-primary: #d80000;
  }
  

  
.imge {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: black;
  opacity: 1; 
  background-size: cover;
  z-index: -5;

}