<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Create</ion-title>
    </ion-toolbar>
  </ion-header>
<div class="imge">
  <div class="container">
    <h1>ORDERS</h1>
    <ion-item>
      <ion-label position="floating">Main dish</ion-label>
      <ion-input type="text" [(ngModel)]="users.main" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Side Dish</ion-label>
      <ion-input type="text" [(ngModel)]="users.side" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-select label="Drinks" multiple="true" [(ngModel)]="users.Drinks">
        <ion-select-option *ngFor="let Drinks of Drinks" [value]="Drinks">{{ Drinks }}</ion-select-option>
      </ion-select>
    </ion-item>
  

    <ion-item>
      <ion-select label="preferred" interface="popover" placeholder="Select" [(ngModel)]="users.preferred">
        <ion-select-option value="dine in">Dine in</ion-select-option>
        <ion-select-option value="Take out">Take out</ion-select-option>
      </ion-select>
    </ion-item>

  <div class="nav">
    <ion-button (click)="createUser()">Create list</ion-button>
    <ion-button (click)="home()"><ion-icon name="home-sharp"></ion-icon></ion-button>
  </div>
</div>
  </div>
</ion-content>