

.container {
  font-family: newfont;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    text-align: center; 
  }
  
  ion-content {

    --background: #f0f0f0;
  }
  
  h1 {
    font-size: 300%;
    margin-bottom: 20px;
    color: #121212;
  }
  
  ion-item {
 
    --inner-padding-end: 10px;
    --inner-padding-start: 10px;
    --background: #ffffff;
    margin-bottom: 10px;
    width: 50%;
  }
  
  ion-item ion-input {
    border-bottom: 2px solid #009614;
    padding: 5px 10px;
    font-size: 1rem;
  }
  
  ion-item ion-select {
    border-bottom: 2px solid #009614;
    padding: 5px 10px;
    font-size: 1rem;
  }
  
  .nav {
    display: flex;
    justify-content: center;
  }
  
  .button {

    --ion-color-primary: #009614;
  }
  