
.custom-center-content {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center vertically */
  align-items: center; /* Center horizontally */
  height: 100%; /* Fill the height of the parent container */
  background-image: url('../../assets/images/1.jpg');
  background-size: cover;
  height: 100vh;


.small-image {
  max-width: 750px;
  display: flex;
  grid-template-columns: min-content;
  margin-top: 50px;
  padding-left: 10%;
  z-index: 5;
  border-radius: 20px; 
}

h1,
h2,
h3,
.p {
 
  color: rgb(255, 255, 255);
}

h1 {
  font-size: 40px;
  padding-left: 5%;
  z-index: 5;
}

h2 {
  font-weight: bolder;
  text-indent: 60px;
  text-align: justify;
  margin-right: 3%;
  font-size: 20px;
  z-index: 3;
}

h3 {
  font-size: 30px;
  z-index: 4;
}

.container {
  display: flex;
  justify-content: flex-end;
}

.paragraph {
  width: 50%;
  margin-left: 20px;
  text-shadow: -1px -1px 0 #000, 2px -1px 0 #000, -1px 1px 0 #000, 2px 1px 0 #000;
}
}
