<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Welcome!
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding custom-center-content custom-background">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"></ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="custom-center-content">
  <div class="container">
    <div class="small-image">
      <img src="../../assets/images/DP.jpg">
    </div>
    <div class="p">
      <div class="paragraph">
        <h3>PEREZ, ASHLEY</h3>
        <p>
          HOBBIES: Sleeping, reading, gazing at nothing<br>
          LIKES: Sleep, org duties (minsan)<br>
          TALENT: Matulog kahit maraming gagawin<br>
          SKILLS: Magluto nang may pagmamahal (at galit)<br>
        </p>
        <h2>HOW DO YOU SEE YOURSELF IN 5 YRS?</h2>
        <p>
          In 5 years, I see myself already graduated from the Pamantasan. I am already working in a company or apply as a professor in the same University, or taking up another degree to study.
        </p>
        <h2>STRENGTHS:</h2>
        <ul>
          <li>Organization Skills</li>
          <li>Calm</li>
          <li>Leadership</li>
          <li>Problem Solving</li>
        </ul>
        <h2>WEAKNESS:</h2>
        <ul>
          <li>Time Management</li>
          <li>Comfort</li>
          <li>Impatient</li>
          <li>Lazy Days</li>
        </ul>
        <h2>MOTTO</h2>
        <p>When you are not fed love on a silver spoon you learn to lick it off knives.</p>
        <h2>LOVE LANGUAGE MO? BAKIT?</h2>
        <p>All 5 love languages kasi traumatized po ako as a kid haha omg</p>
        <h2>KUNG PAGKAIN KA ANO KA? BAKIT?</h2>
        <p>Nilaga. Looks bland but hides rich taste.</p>
        <h2>PET PEEVE</h2>
        <p>Weird people in a negative way. Akala nila edgy sila pero hindi hahaha</p>
      </div>
    </div>
  </div>
  </div>
</ion-content>
