


#container {

  background-image: url("../../assets/images/2.jpg");
  background-repeat: no-repeat;
 /* Adjusts the background size to cover the container */
  background-position: center; /* Centers the background image */
  width: 100vw;
  height: 100vh;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: #7a41008c;
}

h1 {
  
  font-size: 50px;
  text-shadow: 2px 2px 15px rgba(0, 0, 0, 0.2);
  text-align: center;
  color: #000000;
  margin-left: 380px;
  text-shadow: #d80000;
  transform: translateX(-50%);
  z-index: 1; 
}

.menu {

  font-size: 80px;
  text-shadow: 2px 2px 15px rgba(0, 0, 0, 0.2);
  text-align: center;
  color: #000000;
  margin-left: 580px;
  text-shadow: #d80000;
  transform: translateX(-50%);
  z-index: 1; 
}

.menu1 {

  font-size: 30px;
  text-shadow: 2px 2px 15px rgba(0, 0, 0, 0.2);
  text-align: center;
  color: #000000;
  float: left;
  display: flex;
  
  text-shadow: #d80000;
  transform: translateX(-50%);
  z-index: 1; 
}

.display{
  margin-top: 30px;
  width: 50%;
}

.display1 {

  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative; 
  background-color: rgba(0, 0, 0, 0.5); 
  backdrop-filter: blur(5px); 
  border-radius: 20px; 
  padding: 20px; 
}

h2{
 
  margin: 0;
  color: #000000;
  font-size: 1rem;
}

.list{
  font-size: 20px;
}

.button{
  --ion-color-primary: #006d0f;
}

.buttonz{
  display: flex;
  flex-direction: row; 
  justify-content: space-between;
  padding: 0 20px;
}

