@font-face {
  font-family: 'Chrono';
  src: url('../login/fonts/Chrono.ttf') format('truetype');

}

#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  overflow: hidden;
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.bgkoto {
  background-image: url('../home/images/bg1.jpg');

  
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
}

.bgkoto h1 {
  font-size: 50px;
  font-weight: bolder;
  font-family:  chrono;
  background-color: black;
  margin-top: 40%;
  color: red;
}

ion-header {
  margin-bottom: 0px; /* Adjust margin as needed */
  text-align: center;
    
  background-color: rgba(255, 7, 160, 0.212);

}



ion-title {
  text-align: center; /* Center the text horizontally */
  width: 100%; /* Ensure the title takes up the full width */
  font-size: 50px;
  font-family:  chrono;
}


